@font-face {
    font-family: 'Bubbly';
    src: url(../fonts/RockSalt-Regular.ttf) format('truetype');
}



.body1 {
    font-style: italic;
    color: white;
    font-family: 'Bubbly';


}

.image-sizer {
    max-width: 100%;
    /* Ensures the image doesn't exceed its container */
    text-align: center;
}

#resize-image {
    max-width: 90%;
    /* Ensures the image scales within the container */
    height: auto;
    /* Automatically adjusts the height to maintain aspect ratio */
}

.containergrid {
    display: grid;
}

.containerflex {
    display: flex;
    justify-content: space-around;
}


.images {
    border-style: solid;
    border-color: white;
    border-width: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 100%;
    /* Ensures the image scales within the container */
    height: auto;
}

.paragraph {
    font-style: italic;
    font-size: xx-large;
    color: white;
    font-family: 'Bubbly';
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 100%;
    /* Ensures the image scales within the container */
    height: auto;
}

.imagesright {
    border-style: solid;
    border-color: white;
    border-width: 5px;
    margin: 30px;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.paragraphleft {
    font-style: italic;
    font-size: 50px;
    color: white;
    font-family: 'Bubbly';
    margin: 30px;
    justify-content: flex-start;
    align-items: center;

}

.headercenter {
    display: flex;
    justify-content: center;
}

#resize-text {
    font-size: 50px;
    /* Initial font size */
}

/* Define media queries for different screen sizes */
@media screen and (max-width: 768px) {
    #resize-text {
        font-size: 30px;
        /* Adjust font size for smaller screens */
    }
}

@media screen and (max-width: 480px) {
    #resize-text {
        font-size: 20px;
        /* Adjust font size for even smaller screens */
    }
}